@{
    ViewData["Title"] = "Home Page";
}

<form asp-action=""Index">
<label>Nhập họ tên:</label>
<input type=""text"name="full name">
<label>Nhập địa chỉ:</label>
<input type="text"name="address">
<input type="submit"value="gửi dữ liệu">
</form>

